<div class="bg-richblack py-16">
  <div class="min-h-screen grid grid-flow-row place-content-stretch">

    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <stripe-pricing-table
      pricing-table-id="prctbl_1LLsmTCZ6qsJgndJRFzV9Jia"
      publishable-key="pk_test_vAZ3gh1LcuM7fW4rKNvqafgB00DR9RKOjN"
      client-reference-id="<%= current_user.id %>">
    </stripe-pricing-table>
  </div>
</div>
